
.maincontainrig {
    width: 100% !important;
    height: 100vh !important;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/images/aboutside.jpg');
}