.containerAdmi {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  
  .cardadmi {
    min-width: 275px;
  }
  
  .headerContain2 {
    display: flex !important;
    width: 100% !important;
      background-color: rgba(0, 0, 0, 0.486) !important;
      color: black !important;
      position: fixed !important;
      box-shadow: none !important;
      .logo {
        height: 40px;
        padding: 0 !important;
      }
    .toolbarmi {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .bgcolor {
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }
    .bgcolor:hover {
      background-color: red;
      color: white !important;
    }
    .bgcolor2 {
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }
    .bgcolor2:hover {
      background-color: blue;
      color: white !important;
    }
    
    }

    .css-46bh2p-MuiCardContent-root {
      display: flex !important;
      flex-direction: column !important;
     align-items: flex-start !important;
    }